.add-service input {
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
}
.add-service textarea{
    width: 100%;
    margin-bottom: 16px;
    height: 100px;
}
.deshboard-menu {
    padding: 0;
    list-style: none;
}
.deshboard-menu li a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    display: block;
}
.deshboard-menu li button {
    text-decoration: none;
    color: black !important;
    padding: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}
.deshboard-menu li button:hover {
    background: none;
}
.deshboard-menu li button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 #fff !important;
    background: none !important;
    border: none !important;
}